body {
    width: 100vw;
}
header {
    min-height: 100vh;
    display: block;
   justify-items: center;
   align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 8vh;
    color: rebeccapurple;
    text-transform: uppercase;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    color: blueviolet;
    text-transform: uppercase;
}